<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav {
            display: flex;
            flex-direction: column;
        }
        .message {
            border: 1px solid black;
            width: 20rem;
            padding: 1rem;
        }
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
            <% if (locals.isAuthenticated && isAuthenticated()) { %>
                <li><a href="/create">create message</a></li>
            <% } %>
        </nav>
    </header>
    <div id="messages">
        <% for (const post of posts) { %>
            <div class="message">
                <% if (locals.isMember && isMember()) { %>
                    <div class="details">
                        <span><%= post.fullname %></span>
                        <span><%= post.date %></span>
                    </div>
                <% } %>
                <h3><%= post.title %></h3>
                <p class="text">
                    <%= post.text %>
                </p>
            </div>
        <% } %>
    </div>
</body>
</html>